.clr {
  *zoom: 1;
}

.clr:after {
  content: " ";
  display: table;
  clear: both;
}

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-ico1 {
  background-image: url(../../img/sprite.png);
  background-position: 0px -40px;
  width: 40px;
  height: 40px;
}

.icon-ico2 {
  background-image: url(../../img/sprite.png);
  background-position: -40px -40px;
  width: 40px;
  height: 40px;
}

.icon-ico3 {
  background-image: url(../../img/sprite.png);
  background-position: 0px 0px;
  width: 41px;
  height: 40px;
}

.icon-ico4 {
  background-image: url(../../img/sprite.png);
  background-position: -41px 0px;
  width: 41px;
  height: 40px;
}

@font-face {
  font-family: 'montserrat';
  src: url("../../fonts/montserrat-bold-webfont.eot");
  src: url("../../fonts/montserrat-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/montserrat-bold-webfont.woff2") format("woff2"), url("../../fonts/montserrat-bold-webfont.woff") format("woff"), url("../../fonts/montserrat-bold-webfont.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'montserrat';
  src: url("../../fonts/montserrat-regular-webfont.eot");
  src: url("../../fonts/montserrat-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/montserrat-regular-webfont.woff2") format("woff2"), url("../../fonts/montserrat-regular-webfont.woff") format("woff"), url("../../fonts/montserrat-regular-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'roboto';
  src: url("../../fonts/roboto-light-webfont.eot");
  src: url("../../fonts/roboto-light-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/roboto-light-webfont.woff2") format("woff2"), url("../../fonts/roboto-light-webfont.woff") format("woff"), url("../../fonts/roboto-light-webfont.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

/* 
 * 	Core Owl Carousel CSS File
 *	v1.3.3
 */
/* clearfix */
.owl-carousel .owl-wrapper:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

/* display none until init */
.owl-carousel {
  display: none;
  position: relative;
  width: 100%;
  -ms-touch-action: pan-y;
}

.owl-carousel .owl-wrapper {
  display: none;
  position: relative;
  -webkit-transform: translate3d(0px, 0px, 0px);
}

.owl-carousel .owl-wrapper-outer {
  overflow: hidden;
  position: relative;
  width: 100%;
}

.owl-carousel .owl-wrapper-outer.autoHeight {
  -webkit-transition: height 500ms ease-in-out;
  -moz-transition: height 500ms ease-in-out;
  -ms-transition: height 500ms ease-in-out;
  -o-transition: height 500ms ease-in-out;
  transition: height 500ms ease-in-out;
}

.owl-carousel .owl-item {
  float: left;
}

.owl-controls .owl-page,
.owl-controls .owl-buttons div {
  cursor: pointer;
}

.owl-controls {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

/* mouse grab icon */
.grabbing {
  cursor: url(../../img/grabbing.png) 8 8, move;
}

/* fix */
.owl-carousel .owl-wrapper,
.owl-carousel .owl-item {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
}

/*
* 	Owl Carousel Owl Demo Theme 
*	v1.3.3
*/
.owl-theme .owl-controls {
  margin-top: 10px;
  text-align: center;
}

/* Styling Next and Prev buttons */
.owl-theme .owl-controls .owl-buttons div {
  /*color: #ff686b;*/
  display: inline-block;
  width: 30px;
  height: 55px;
  zoom: 1;
  position: absolute;
  top: 153px;
  /**display: inline;!*IE7 life-saver *!*/
  /*margin: 5px;*/
  /*padding: 3px 10px;*/
  font-size: 0;
  /*-webkit-border-radius: 30px;*/
  /*-moz-border-radius: 30px;*/
  /*border-radius: 30px;*/
  background: url(../../img/control-slider.png) no-repeat;
  /*filter: Alpha(Opacity=50);!*IE7 fix*!*/
  /*opacity: 0.5;*/
}

.owl-theme .owl-controls .owl-buttons .owl-prev {
  background-position: left;
  left: 21px;
}

.owl-theme .owl-controls .owl-buttons .owl-next {
  background-position: right;
  right: 21px;
}

/* Clickable class fix problem with hover on touch devices */
/* Use it for non-touch hover action */
.owl-theme .owl-controls.clickable .owl-buttons div:hover {
  filter: Alpha(Opacity=100);
  /*IE7 fix*/
  opacity: 1;
  text-decoration: none;
}

/* Styling Pagination*/
.owl-theme .owl-controls .owl-page {
  display: inline-block;
  zoom: 1;
  *display: inline;
  /*IE7 life-saver */
}

.owl-theme .owl-controls .owl-page span {
  display: block;
  width: 15px;
  height: 15px;
  margin: 5px 7px;
  /*filter: Alpha(Opacity=50);!*IE7 fix*!*/
  /*opacity: 0.5;*/
  /*-webkit-border-radius: 20px;*/
  /*-moz-border-radius: 20px;*/
  /*border-radius: 20px;*/
  background: #fff;
}

.owl-theme .owl-controls .owl-page.active span {
  /*filter: Alpha(Opacity=100);!*IE7 fix*!*/
  /*opacity: 1;*/
  border: 3px solid #fff;
  background-color: #001d1d;
}

/* If PaginationNumbers is true */
.owl-theme .owl-controls .owl-page span.owl-numbers {
  height: auto;
  width: auto;
  color: #FFF;
  padding: 2px 10px;
  font-size: 12px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
}

/* preloading images */
.owl-item.loading {
  min-height: 150px;
  background: url(../../images/AjaxLoader.gif) no-repeat center center;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'montserrat', sans-serif;
  color: #fff;
}

.wrapper {
  margin: 0 auto;
  max-width: 940px;
  min-width: 320px;
}

.header {
  max-width: 1440px;
  background: url(../../img/bg-header.jpg) no-repeat center;
  height: 700px;
  margin: 0 auto;
  padding-top: 39px;
  text-align: center;
}

.header__logo {
  float: left;
}

.header__logo > a {
  display: block;
  font-size: 21px;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  font-weight: bold;
  margin-top: 9px;
}

.header__login-box {
  float: right;
}

.header__login, .header__signup {
  display: inline-block;
  font-size: 14px;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  padding: 8px 16px;
}

.header__signup {
  border: 2px solid #fff;
  border-radius: 20px;
}

.header__title {
  font-size: 52px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 145px;
  margin-bottom: 27px;
  line-height: 60px;
}

.header__text {
  text-align: center;
  font-size: 24px;
  font-family: 'roboto';
  margin-bottom: 38px;
}

.header__btn, .owl-carousel__item-link, .search__btn {
  display: inline-block;
  background-color: #ff4e50;
  font-size: 14px;
  padding: 13px 24px;
  border-radius: 20px;
  text-decoration: none;
  color: #fff;
}

.slider {
  padding-top: 97px;
}

.slider__wrap {
  text-align: justify;
  line-height: 0;
  font-size: 1px;
  zoom: 1;
  text-align-last: justify;
}

.slider__wrap:after {
  width: 100%;
  height: 0;
  visibility: hidden;
  overflow: hidden;
  content: '';
  display: inline-block;
}

.slider__title, .partners__title, .activity__title {
  text-align: center;
  font-weight: bold;
  font-size: 22px;
  color: #333333;
  margin-bottom: 36px;
}

.slider__item {
  display: inline-block;
  width: 32%;
  line-height: normal;
  font-size: 14px;
  vertical-align: top;
}

.owl-carousel__item {
  position: relative;
  width: 100%;
  background-color: #e7e7e7;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 5px;
  height: 400px;
  padding: 229px 20px 0;
}

.owl-carousel__item-title {
  margin-top: 15px;
  font-size: 24px;
  text-align: left;
  text-align-last: left;
}

.owl-carousel__item-txt {
  margin-top: 13px;
  font-family: 'roboto';
  font-size: 14px;
  line-height: 16px;
  text-align-last: left;
}

.owl-carousel__item-link {
  padding: 5px 11px 4px 15px;
  border-radius: 10px;
  font-size: 10px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.owl-carousel__item-link--step2 {
  margin-top: 30px;
}

.owl-carousel__item--step1 {
  background-image: url(../../img/slider1.jpg);
  background-position: -190px -20px;
  background-size: 220%;
}

.owl-carousel__item--step2 {
  background-image: url(../../img/slider2.jpg);
  background-position: -160px -16px;
  background-size: 220%;
}

.owl-carousel__item--step3 {
  background-image: url(../../img/slider3.jpg);
  background-position: -181px -26px;
  background-size: 220%;
}

.partners {
  padding-top: 88px;
  text-align: center;
}

.partners__title, .activity__title {
  margin-bottom: 35px;
}

.partners__list {
  margin-bottom: 37px;
}

.partners__item {
  width: 25%;
  padding: 0 10px;
  float: left;
  text-align: center;
}

.partners__item a {
  text-decoration: none;
  display: block;
}

.partners__item-imgwrapp {
  width: 120px;
  margin: 0 auto;
  position: relative;
}

.partners__item-img {
  border-radius: 50%;
}

.partners__item-ico {
  position: absolute;
  width: 40px;
  height: 40px;
  bottom: -1px;
  right: -4px;
}

.partners__item-name {
  font-size: 14px;
  margin: 15px 0;
  color: #333333;
}

.partners__item-txt {
  font-family: 'roboto';
  font-size: 14px;
  color: #666666;
  line-height: 16px;
}

.partners__others {
  display: inline-block;
  margin-bottom: 50px;
  color: #ff4e50;
  border: 2px solid #ff4e50;
  border-radius: 20px;
  text-decoration: none;
  font-size: 14px;
  padding: 11px 29px 9px;
}

.activity {
  padding-top: 50px;
}

.grid {
  max-width: 940px;
  margin-bottom: 79px;
}

.grid__sizer {
  width: 32%;
}

.grid__gutter-sizer {
  width: 2%;
}

.grid__item {
  margin-bottom: 20px;
  height: 310px;
  width: 32%;
  float: left;
  background-color: darkgray;
  border-radius: 5px;
  overflow: hidden;
}

.grid__item--width2 {
  width: 66%;
}

.grid__item-link {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.grid__item-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  font-size: 22px;
  text-transform: capitalize;
  font-weight: bold;
  text-shadow: 1px 1px 2px black, 0 0 2px gray;
}

.search {
  text-align: center;
  margin-bottom: 98px;
}

.search__title {
  font-family: 'roboto';
  font-size: 18px;
  color: #333333;
  margin-bottom: 39px;
}

.search__input {
  width: 240px;
  height: 40px;
  padding-left: 13px;
  border-radius: 5px;
  font-size: 14px;
  font-family: 'roboto';
  color: #999999;
}

.search__btn {
  border: none;
  font-weight: bold;
  font-family: 'montserrat';
  margin-left: 5px;
  cursor: pointer;
  outline: none;
}

.footer {
  font-family: 'montserrat';
  font-size: 16px;
  font-weight: bold;
  border-top: 4px solid #ff4e50;
  padding: 38px 0;
}

.footer a {
  text-decoration: none;
}

.footer__logo {
  display: inline-block;
  vertical-align: top;
}

.footer__logo a {
  color: #ff4e50;
  font-size: 16px;
  letter-spacing: 0.8px;
}

.footer__designed {
  display: inline-block;
  float: right;
  width: 110px;
  height: 45px;
  background: url("../../img/logo-design.png") no-repeat bottom;
  text-transform: uppercase;
  font-size: 10px;
  color: #cccccc;
  text-align: right;
  letter-spacing: 1px;
}

.nav {
  margin-left: 91px;
  vertical-align: top;
  display: inline-block;
}

.nav__title {
  color: #333333;
  font-size: 14px;
  margin-bottom: 15px;
  text-align: left;
}

.nav__item {
  margin-bottom: 8px;
}

.nav__link {
  font-family: 'roboto';
  font-size: 14px;
  color: #666666;
  margin-bottom: 5px;
}

@media screen and (max-width: 767px) {
  .wrapper {
    padding: 0 3%;
  }
  .header {
    padding-top: 20px;
    height: 540px;
    background-position: -425px -13px;
    background-size: 358%;
  }
  .header__login-box {
    float: none;
    margin: 0 auto;
    padding-right: 18px;
  }
  .header__logo {
    float: none;
    margin-top: 119px;
  }
  .header__title {
    font-size: 30px;
    margin-top: 28px;
    margin-bottom: 10px;
    line-height: 36px;
  }
  .header__text {
    font-size: 18px;
    padding: 0 32px;
    margin-bottom: 18px;
    line-height: 20px;
  }
  .header__btn, .owl-carousel__item-link, .search__btn {
    padding: 13px 51px;
  }
  .slider {
    padding-top: 36px;
  }
  .slider__title, .partners__title, .activity__title {
    margin-bottom: 16px;
  }
  .slider__item {
    display: block;
    width: 100%;
  }
  .owl-carousel__item {
    height: 240px;
    padding: 69px 20px 0;
  }
  .owl-carousel__item-link {
    padding: 5px 11px 4px 15px;
  }
  .owl-carousel__item--step1 {
    background-position: -64px -28px;
    background-size: 137%;
  }
  .owl-carousel__item--step2 {
    background-position: -24px -15px;
    background-size: 130%;
  }
  .owl-carousel__item--step3 {
    background-position: -45px -15px;
    background-size: 130%;
  }
  .owl-controls .owl-buttons {
    display: none;
  }
  .partners {
    padding-top: 27px;
  }
  .partners__list {
    margin-bottom: -1px;
  }
  .partners__title, .activity__title {
    padding-right: 7px;
    line-height: 24px;
  }
  .partners__others {
    padding: 11px 72px 10px;
    margin-bottom: 10px;
  }
  .partners__item {
    float: none;
    width: 100%;
    margin-bottom: 27px;
  }
  .partners__item-txt {
    padding: 0 30px;
  }
  .activity {
    padding-top: 26px;
  }
  .activity__title {
    padding-right: 1px;
  }
  .grid {
    margin-bottom: 29px;
  }
  .grid__sizer {
    width: 100%;
  }
  .grid__gutter-sizer {
    width: 0;
  }
  .grid__item {
    width: 100%;
    height: 120px;
    margin-bottom: 10px;
  }
  .grid__item--width2 {
    width: 100%;
  }
  .grid__item-title {
    font-size: 20px;
    font-weight: normal;
  }
  .search {
    margin-bottom: 41px;
  }
  .search__title {
    margin-bottom: 16px;
  }
  .search__input {
    display: block;
    margin: 0 auto 10px;
    width: 282px;
  }
  .search__btn {
    padding: 11px 87px 11px 79px;
  }
  .footer {
    padding: 18px 0;
  }
  .footer__logo {
    display: block;
    text-align: center;
    margin-bottom: 15px;
  }
  .footer__designed {
    display: block;
    float: none;
    margin: 0 auto;
    text-align: center;
    padding-top: 5px;
  }
  .nav {
    margin: 0 auto;
    display: block;
    text-align: center;
    margin-bottom: 10px;
  }
  .nav__title {
    text-align: center;
    margin-bottom: 3px;
  }
  .nav__item {
    display: inline-block;
    margin-right: 7px;
  }
}

@media screen and (min-width: 370px) and (max-width: 767px) {
  .wrapper {
    padding: 0 10%;
  }
  .header {
    background-size: cover;
    background-position: center center;
  }
  .owl-carousel__item {
    background-position: center;
    background-size: cover;
  }
}

@media screen and (min-width: 768px) and (max-width: 959px) {
  .wrapper {
    padding: 0 10px;
  }
  .header {
    padding-top: 39px;
  }
  .header__logo {
    margin-left: 40px;
  }
  .header__login-box {
    margin-right: 38px;
  }
  .slider__title, .partners__title, .activity__title {
    padding-left: 5px;
  }
  .owl-carousel__item {
    padding: 211px 21px 0;
  }
  .owl-carousel__item--step1 {
    background-position: -232px -24px;
    background-size: 281%;
  }
  .owl-carousel__item--step2 {
    padding: 228px 22px 0;
    background-position: -183px -17px;
    background-size: 277%;
  }
  .owl-carousel__item--step3 {
    padding: 211px 25px 0;
    background-position: -199px -24px;
    background-size: 274%;
  }
  .owl-theme .owl-controls .owl-buttons .owl-next, .owl-theme .owl-controls .owl-buttons .owl-prev {
    top: 37px;
  }
  .partners__title, .activity__title {
    padding-left: 0;
    margin-bottom: 5px;
  }
  .partners__list {
    padding: 0 120px;
    margin-bottom: 12px;
  }
  .partners__item {
    width: 50%;
    margin: 28px 0;
  }
  .partners__item-txt {
    padding: 0 10px;
  }
  .activity__title {
    margin-bottom: 36px;
  }
  .grid {
    margin-bottom: 76px;
  }
  .search__title {
    margin-bottom: 38px;
  }
  .footer__wrap {
    padding: 0 40px;
  }
  .footer__designed {
    margin-right: -2px;
    height: 43px;
  }
  .nav {
    margin-left: 79px;
  }
  .nav__title {
    margin-right: 22px;
  }
}
